<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sex OP | Django </title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" /><![endif]-->

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/js/actions.js"></script>
    <script type="text/javascript" src="/static/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/static/js/related-widget-wrapper.js"></script>
    <script type="text/javascript" src="/static/js/calendar.js"></script>
    <script type="text/javascript" src="/static/js/admin/DateTimeShortcuts.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-auth model-user change-form">
 <div id="user-tools">
     Welcome,
     <strong>admin</strong>.
     <a href="/">View site</a> /
 </div>

</body>

